In [ ]:
import pandas as pd

In [ ]:
import numpy as np

In [ ]:
students = pd.read_csv("student_records_dirty.csv")

In [ ]:
students.head()

In [ ]:
students.shape

In [ ]:
students.sample(3)

In [ ]:
#
students['course_grade'].value_counts(dropna=False)

In [ ]:
students['major'].value_counts(dropna=False)
#include null values in value counts, df pandas

In [ ]:
students.isna().sum()

In [ ]:
students["course_grade"] = students["course_grade"].replace("\"N/A\"", np.nan)

In [ ]:
students['course_grade'].value_counts(dropna=False)

In [ ]:
students.duplicated()

In [ ]:
students = students.drop_duplicates()

In [ ]:
#students["student_id"].count()

In [ ]:
students["first_name"].str.strip().str.upper()
#space in names

In [ ]:
students["first_name"] = students["first_name"].str.strip().str.upper()

In [ ]:
students["last_name"] = students["last_name"].str.strip().str.upper()

In [ ]:
students["major"] = students["major"].str.strip().str.capitalize()
students["major"]= students["major"].replace({
"Comp sci": "Computer Science",
"Cs": "Computer Science",
"Computer science":"Computer Science",
"Bio": "Biology",
"Psych":" Psychology"
})

In [ ]:
students["major"].value_counts()

In [ ]:
students.loc["ninety","course_grade"] = 90

In [ ]:
#students["age"].

In [ ]:
students["age"].value_counts(dropna = False)

In [ ]:
students["age"] = pd.to_numeric(students["age"], errors = "coerce")

In [ ]:
students["age"].describe()

In [ ]:
students.loc[students["age"] < 10, ["age"]] = np.nan
students.loc[students["age"] >120, ["age"]] = np.nan

In [ ]:
students.loc[students["age"] < 10, ["age"]] = students["age"].mean()
students.loc[students["age"] >120, ["age"]] = students["age"].mean()

In [ ]:
students["age"].mean()

In [ ]:
# create a column combining first and last names
students["full_name"] = students["first_name"] + ' ' + students["last_name"]
students["full_name"]

In [ ]:
students["age_group"] = pd.cut(
    students["age"],
    bins=[0, 25, 40, 65],
    labels=["Young Adults", "Working adults", "Retired"]
)

In [ ]:
students[["age","age_group"]].value_counts(dropna=False)

In [ ]:
students["cost_per_semester"] = students['tuition_paid'] / 3

In [ ]:
students["enrollment_date"]

In [ ]:
students["enrollment_date"] = pd.to_datetime(students["enrollment_date"])

In [ ]:
#students["enrollment_date"].describe(datetime_is_numeric)