# SQL Part 1 Studio

Let's practice your SQL querying skills!  For each question, work along in the notebook adding your query and answering the questions.

## Dataset

We will be using the same Goodreads dataset that was used for the exercises in the prep work. Feel free to reference your exercises notebook as you work on the studio. The Kaggle dataset can be found here: [goodbooks-10k](https://www.kaggle.com/zygmunt/goodbooks-10k).

You can access **BooksDB** in the Launchcode server.

## Business Issue

You work for a small independent book store and you want to increase sales by running a new marketing campaign. Before you can design your campaign, you need to get more familiar with what is going on with the world of book publishing. Time to get more familar with BooksDB!

## Part 1: BooksDB Questions

Question 1: Write a query of the `books` table that returns the top 100 results and includes `book_id`, `authors`, `title`, and `average_rating`. Use an alias for at least one column and sort the result set in descending order of rating. What is the number one book?

In [ ]:
-- return top 100 results
SELECT TOP 100 * FROM BooksDB

Question 2: Write a query to find the least popular book.

In [ ]:
-- return least popular book
SELECT original_title , ratings_count FROM BooksDB.dbo.books order by ratings_count --least popular(Meu PÃ© de Laranja Lima)

Question 3: Which tag is the most popular?

In [ ]:
-- return most popular tag
SELECT top 1 tag_id,count FROM book_tags order by count desc --30574

Question 4: What is the name of the most popular tag?

In [ ]:
-- return name of most popular tag
SELECT tag_name AS TagName FROM tags where tag_id =30574 --to read

Question 5: How many books where released in the first decade of 2000?

In [ ]:
-- return number of books published in the first decade of 2000
select COUNT(*) AS countOfBooks_2000_Decade from books where original_publication_year between 2000 AND 2010 --3594

Question 6: How many book titles contain the word, "happy"?

In [ ]:
-- return number of books that contain the word, "happy"
select COUNT(original_title) AS count_with_happy FROM books where original_title LIKE '%happy%'

Question 7: List the books from the top 3 authors from Question 1.  If there is more than one author just use the first one. Sort the title alphabetically by `author` and then by `average_rating`, best rated to lowest. Does this order matter in sorting?

In [ ]:
-- return all books from the top 3 authors, sort by author and rating
SELECT title,authors,average_rating,book_id FROM books Where authors IN('Bill Watterson','J.K.Rowling','Brandon Sanderson')ORDER BY average_rating DESC,authors DESC

Question 8: Write a query that returns the number of authors whose first name is between rock and roll.

In [ ]:
-- return number of authors whose first name is between rock and roll
select COUNT(authors) AS authors_count from books WHERE authors BETWEEN 'rock' AND 'roll'

## Part 2: Find the Answers to Your Own Questions

Your Question:  Author and title with the lowest ratings

In [ ]:
-- Add your query here
select authors,average_rating from books order by average_rating ASC --chetan bhagat/ne Night at the Call Center

Your Question:  what are the top 5 books in year 2000?

In [ ]:
-- Add your query here
select TOP 5 original_publication_year,title,average_rating from books where original_publication_year=2000 order by average_rating desc

If you cannot think of a question you want to ask, here are some question examples to help jumpstart your brainstorming process:

1. What book has the longest title?
1. Which author has written the most books?
1. What were the top ten books published the year I was born?