# Exercises: Creating, Updating, and Destroying Objects

For the exercises, you will be working with objects and data you create. Before opening this notebook, make sure that you have set up the new connection to the server and that you have located the database and your schema.

## Object Creation

Before coding, think of three things you want to make. These could be coding projects, new recipes, or planned projects for a woodworking hobby. Brainstorm the appropriate column names and data types as well.

Create a table under your schema called `planned_makes`.

In [ ]:
USE Sep2025JunkDB
CREATE TABLE sree_krishnamurthy.planned_makes
(
    recipe_id INT IDENTITY(1,1) PRIMARY KEY,
    Recipe_Name VARCHAR(25),
    ingredients VARCHAR(100),
    instructions VARCHAR(500),
    prep_time INT,
    cook_time INT,
    servings INT,
);

Add three rows to your table that are your planned makes.

In [ ]:
INSERT INTO sree_krishnamurthy.planned_makes
VALUES 
('cake', 'flour,eggs,sugar,butter',  'Mix the dry ingredients and wet ingredients ,pour them in a pan and bake at 350F', 10,30,8),
('Grilled Cheese sandwich','Bread,cheese,butter','spread butter on bread and layer with cheese and grill on stove',5,5,1),
('Penne Rosa','Pasta, tomato-basil sauce,parmesan,veggies of choice','Boil pasta until al-dente,saute veggies, add tomato sauce, mix pasta and add cheese',5,15,4)
;

## Update a Row

Change different values in one of your three rows.

In [ ]:
UPDATE sree_krishnamurthy.planned_makes
SET Recipe_Name ='Butter Cake'
WHERE recipe_id = 1;

## Delete a Row

Delete one of the rows from your table.

In [ ]:
DELETE from sree_krishnamurthy.planned_makes WHERE recipe_id=3

## Drop the Table

While this has been fun, it is time to drop the table!

In [ ]:
DROP TABLE sree_krishnamurthy.planned_makes